.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}


/* font section end */
/* Global section */
.text-primary{
    color: rgb(58, 58, 58);
}
.text-secondary{
    color: rgb(120, 120, 133);
}
.btn-round{
width: 196px;
height: 44px;
padding: 10px 24px 10px 24px;
border: none;
border-radius: 41px;
background: rgb(224, 44, 109);
color: white;
}
.btn-square{

width: 155px;
height: 44px;
border: none;
padding: 10px 24px 10px 24px;
background: rgb(224, 44, 109);
color: white;
font-size: 16px;
font-weight: 700px;

}
/* header section */
header{
    max-width: 1200px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}
.nav-container .brand{
  font-size: 24px;
}
.menu ul{
    display: flex;
    justify-content: space-around;
    gap: 34px;
}
.menu ul>li{
    list-style: none;
}
.menu ul>li>a{
    text-decoration: none;
    color: rgb(58, 58, 58)
    
}
.banner{
  display: flex;
  gap: 133px;
  margin-bottom: 70px;
}
.banner-title{
  font-size: 52px;
}
.banner-img{
  width: 50%;
  background-image: url(../images/Circle-design.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.banner-img img{
  width: 100%;
  padding: 10px;
}

/* partners section */
.partners{
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.partner-container{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  align-items: center;
  border-top: .5px solid gray ;
  border-bottom: .5px solid gray;
  padding: 35px 62px;
}

.collection{
  max-width: 1047px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.collection-title{
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}
.collection-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.card-title{
  font-size: 28px;
  font-weight: 500px;
  margin-bottom: 6px;
  padding: 0;
}
.card-price{
  font-size: 24px;
  font-weight: 400px;
  margin: 6px 0;

}
.star{
  color: orange;
}
.featured{
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  gap: 95px;
}
.featured-title{
  font-size: 38px;
  margin-bottom: 16px;
}